# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore generated output from test data
tests/free_sedimentation (BuAc_d_large)/free_sedimentation (BuAc_d_large)_results_raw.xlsx
tests/channel (BuAc_d_large)/channel (BuAc_d_large)_results_raw.xlsx
tests/contact_wall (BuAc_d_large)/contact_wall (BuAc_d_large)_results_raw.xlsx
tests/structured_packing (BuAc_d_large)/structured_packing (BuAc_d_large)_results_raw.xlsx

# Development
.ruff_cache/

# Virtual environments
.venv/

# IDE specific files
.vscode/

# Ignore all .pyc files
*.pyc

# Ignore all __pycache__ directories
__pycache__/